{% load static %}

<!doctype html>
<html lang="zxx">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/animate.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/meanmenu.css" %}">

<link rel="stylesheet" href="{% static "main/css/boxicons.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/flaticon.css" %}">

<link rel="stylesheet" href="{% static "main/css/nice-select.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/owl.carousel.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/owl.theme.default.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/odometer.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/magnific-popup.min.css" %}">

<link rel="stylesheet" href="{% static "main/css/style.css" %}">

<link rel="stylesheet" href="{% static "main/css/responsive.css" %}">
<title>Leve - Online Banking & Payment Processing HTML Template</title>
<link rel="icon" type="image/png" href="{% static "main/img/favicon.png" %}">
</head>
<body>

<div class="preloader">
<div class="loader">
<div class="shadow"></div>
<div class="box"></div>
</div>
</div>


<div class="top-header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<ul class="top-header-information">
<li>
<i class='bx bx-envelope'></i>
<a href="/cdn-cgi/l/email-protection#147c7178787b547379757d783a777b79"><span class="__cf_email__" data-cfemail="0a626f6666654a6d676b636624696567">[email&#160;protected]</span></a>
</li>
<li>
<i class='bx bxs-phone'></i>
<a href="tel:15143125678">+1 (514) 312-5678</a>
</li>
</ul>
</div>
<div class="col-lg-6">
<ul class="top-header-others">
<li>
<i class='bx bxs-map'></i>
<a href="atm-and-bank-locations.html">ATMs location</a>
</li>
<li class="languages-list">
<select>
<option value="1">English</option>
<option value="2">العربيّة</option>
<option value="3">Deutsch</option>
<option value="3">Português</option>
<option value="3">简体中文</option>
</select>
</li>
<li>
<i class='bx bx-user'></i>
<a href="my-account.html">Sign In</a>
</li>
</ul>
</div>
</div>
</div>
</div>


<div class="navbar-area">
<div class="main-responsive-nav">
<div class="container">
<div class="main-responsive-menu">
<div class="logo">
<a href="index.html">
<img src="{% static "main/img/logo-1.png" %}" alt="image">
</a>
</div>
</div>
</div>
</div>
<div class="main-navbar">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="{% url 'home' %}">
<img src="{% static "main/img/logo-1.png" %}" alt="image">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item">
<a href="{% url 'home' %}" class="nav-link active">
Home
<i class='bx bx-chevron-down'></i>
</a>

</li>
<li class="nav-item">
<a href="credit-card.html" class="nav-link">
Credit Cards
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Pages
<i class='bx bx-chevron-down'></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="about.html" class="nav-link">
About
</a>
</li>
<li class="nav-item">
<a href="team.html" class="nav-link">
Team
</a>
</li>
<li class="nav-item">
<a href="pricing.html" class="nav-link">
Pricing
</a>
 </li>
<li class="nav-item">
<a href="open-account.html" class="nav-link">
Open Account
</a>
</li>
<li class="nav-item">
<a href="security.html" class="nav-link">
Security
</a>
</li>
<li class="nav-item">
<a href="atm-and-bank-locations.html" class="nav-link">
ATM and Bank Locations
</a>
</li>
<li class="nav-item">
<a href="testimonial.html" class="nav-link">
Testimonial
</a>
</li>
<li class="nav-item">
<a href="my-account.html" class="nav-link">
My Account
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Projects
<i class='bx bx-chevron-down'></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="projects-1.html" class="nav-link">
Projects Two Column
</a>
</li>
<li class="nav-item">
<a href="projects-2.html" class="nav-link">
Projects Three Column
</a>
</li>
<li class="nav-item">
<a href="projects-3.html" class="nav-link">
Projects Four Column
</a>
</li>
<li class="nav-item">
<a href="projects-details.html" class="nav-link">
Projects Details
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="faq.html" class="nav-link">
FAQ
</a>
</li>
<li class="nav-item">
<a href="error-404.html" class="nav-link">
Error Page
 </a>
</li>
<li class="nav-item">
<a href="terms-of-service.html" class="nav-link">
Terms of Service
</a>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">
Privacy Policy
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Services
<i class='bx bx-chevron-down'></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="services.html" class="nav-link">
Services
</a>
</li>
<li class="nav-item">
<a href="services-details.html" class="nav-link">
Services Details
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="loans.html" class="nav-link">
Loans
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
Blog
<i class='bx bx-chevron-down'></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="blog-1.html" class="nav-link">
Blog Two Column
</a>
</li>
<li class="nav-item">
<a href="blog-2.html" class="nav-link">
Blog Three Column
</a>
</li>
<li class="nav-item">
<a href="blog-3.html" class="nav-link">
Blog Four Column
</a>
</li>
<li class="nav-item">
<a href="blog-details.html" class="nav-link">
Blog Details
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="{% url 'contact' %}" class="nav-link">
Contact
</a>
</li>
</ul>
<div class="others-options d-flex align-items-center">
<div class="option-item">
<form class="search-box">
<input type="text" class="form-control" placeholder="Search for..">
<button type="submit"><i class="flaticon-loupe"></i></button>
</form>
</div>
<div class="option-item">
<a href="open-account.html" class="default-btn">Open account</a>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="others-option-for-responsive">
<div class="container">
<div class="dot-menu">
<div class="inner">
<div class="circle circle-one"></div>
<div class="circle circle-two"></div>
<div class="circle circle-three"></div>
</div>
</div>
<div class="container">
<div class="option-inner">
<div class="others-options d-flex align-items-center">
<div class="option-item">
<form class="search-box">
<input type="text" class="form-control" placeholder="Search for..">
<button type="submit"><i class="flaticon-loupe"></i></button>
</form>
</div>
<div class="option-item">
<a href="open-account.html" class="default-btn">Open account</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="main-banner">
<div class="main-banner-item">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="main-banner-content">
<h1>How we can help you achieve your goals</h1>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
<div class="banner-btn">
<a href="#" class="default-btn">Get started</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="main-banner-image">
<img src="{% static "main/img/main-banner/banner-image-1.png" %}" alt="image">
<div class="banner-mobile">
<img src="{% static "main/img/main-banner/banner-mobile.png" %}" alt="image">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="main-banner-shape">
<div class="shape-1">
<img src="{% static "main/img/main-banner/banner-shape-1.png" %}" alt="image">
</div>
</div>
</div>


<section class="top-services-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="top-services-item">
<div class="icon">
<i class="flaticon-protection"></i>
</div>
<h3>
<a href="#">Protect your card</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="#" class="link-btn">Get started <i class="flaticon-right-arrow"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="top-services-item">
<div class="icon">
<i class="flaticon-online-banking"></i>
</div>
<h3>
<a href="#">Online banking</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="#" class="link-btn">See more details <i class="flaticon-right-arrow"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
<div class="top-services-item">
<div class="icon">
<i class="flaticon-mobile-app"></i>
</div>
<h3>
<a href="#">Discover new features</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="#" class="link-btn">Download the app <i class="flaticon-right-arrow"></i></a>
</div>
</div>
</div>
</div>
</section>


<section class="banking-area pb-100">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="banking-image">
<img src="{% static "main/img/banking/banking-1.png" %}" alt="image">
<div class="shape-1">
<img src="{% static "main/img/banking/banking-shape-1.png" %}" alt="image">
</div>
</div>
</div>
<div class="col-lg-6">
<div class="banking-content">
<span>Business banking</span>
<h3>We operate our banking services in many countries around the world</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
<ul class="banking-list">
<li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</li>
<li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="fun-facts-area ptb-100">
<div class="container">
<div class="section-title">
<span>Why choose us</span>
<h2>Our bank has been providing services to its customers for almost 25 years.</h2>
</div>
<div class="fun-facts-inner">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-fun-fact">
<h3>
<span class="odometer" data-count="358412">00</span>
</h3>
<p>Happy customers</p>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-fun-fact">
<h3>
<span class="odometer" data-count="25">00</span>
</h3>
<p>Years in banking</p>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-fun-fact">
<h3>
<span class="odometer" data-count="2545">00</span>
</h3>
<p>Our branches</p>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="single-fun-fact">
<h3>
<span class="odometer" data-count="54285">00</span>
</h3>
<p>Successfully works</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="protect-area pb-100">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="protect-content">
<span>Protect your money</span>
<h3>We make every effort to ensure that our customers money is well protected.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
<div class="protect-inner-content">
<div class="number">
<span>1</span>
</div>
<h4>Security in bank level</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="protect-inner-content">
<div class="number">
<span>2</span>
</div>
<h4>Investments best in class</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="protect-inner-content">
<div class="number">
 <span>3</span>
</div>
<h4>Secure watch asset</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="protect-image"></div>
</div>
</div>
</div>
</section>


<section class="services-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<span>Banking services</span>
<h2>Our bank has been provided various banking services to our customers.</h2>
</div>
<div class="services-slider owl-carousel owl-theme">
<div class="single-services-item">
<div class="icon">
<i class="flaticon-mobile-banking"></i>
</div>
<h3>
<a href="services-details.html">Mobile banking</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-credit-card"></i>
</div>
<h3>
<a href="services-details.html">Credit cards</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-payment-security"></i>
</div>
<h3>
<a href="services-details.html">Secure payment</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-savings"></i>
</div>
<h3>
<a href="services-details.html">Saving account</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-protection"></i>
</div>
<h3>
<a href="services-details.html">Business banking</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-online-banking"></i>
</div>
<h3>
<a href="services-details.html">Personal savings</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-positive-vote"></i>
</div>
<h3>
<a href="services-details.html">Personal loans</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
<div class="single-services-item">
<div class="icon">
<i class="flaticon-bank"></i>
</div>
<h3>
<a href="services-details.html">Business loans</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<a href="services-details.html" class="learn-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
</div>
</div>
</section>


<section class="credit-card-area bg-ffffff">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-7">
<div class="credit-card-content">
<span>Credit cards facility</span>
<h3>We provide all the credit card facilities to our customers.</h3>
<p>We provide customers with a variety of credit cards based on the convenience of work.</p>
<ul class="credit-card-features">
<li>
<i class="flaticon-checkmark"></i> Standard credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Rewards credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Charge cards
</li>
<li>
<i class="flaticon-checkmark"></i> Subprime credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Limited purpose cards
</li>
<li>
<i class="flaticon-checkmark"></i> Balance transfer credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Student credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Secured credit cards
</li>
<li>
<i class="flaticon-checkmark"></i> Prepaid cards
</li>
<li>
<i class="flaticon-checkmark"></i> Business credit cards
</li>
</ul>
</div>
</div>
<div class="col-lg-5">
<div class="credit-card-image-slider owl-carousel owl-theme">
<div class="credit-card-image">
<img src="{% static "main/img/credit-card/credit-card-1.png" %}" alt="image">
</div>
<div class="credit-card-image">
<img src="{% static "main/img/credit-card/credit-card-2.png" %}" alt="image">
</div>
</div>
</div>
</div>
</div>
</section>


<section class="below-area ptb-100">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="below-image"></div>
</div>
<div class="col-lg-6">
<div class="below-content">
<span>How to open an account</span>
<h3>We can easily open a bank account by following some rules below.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
<div class="below-inner-content">
<div class="number">
<span>1</span>
</div>
<h4>Personal details</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="below-inner-content">
<div class="number">
<span>2</span>
</div>
<h4>Identification</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="below-inner-content">
<div class="number">
<span>3</span>
</div>
<h4>Address information</h4>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="customer-area ptb-100">
<div class="container">
<div class="section-title">
<span>Customers say</span>
<h2>What customers say about Us</h2>
</div>
<div class="customer-slider owl-carousel owl-theme">
<div class="customer-item">
<img src="{% static "main/img/customer/customer-1.jpg" %}" alt="image">
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
<div class="customer-info">
<h3>Robert jakech</h3>
<span>Software engineer</span>
</div>
<div class="icon">
<i class="flaticon-right-quotation-mark"></i>
</div>
</div>
<div class="customer-item">
<img src="{% static "main/img/customer/customer-2.jpg" %}" alt="image">
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
<div class="customer-info">
<h3>Joseph nakabale</h3>
<span>Software engineer</span>
</div>
<div class="icon">
<i class="flaticon-right-quotation-mark"></i>
</div>
</div>
<div class="customer-item">
<img src="{% static "main/img/customer/customer-1.jpg" %}" alt="image">
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
<div class="customer-info">
<h3>Robert jakech</h3>
<span>Software engineer</span>
</div>
<div class="icon">
<i class="flaticon-right-quotation-mark"></i>
</div>
</div>
<div class="customer-item">
<img src="{% static "main/img/customer/customer-2.jpg" %}" alt="image">
<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
<div class="customer-info">
<h3>Joseph nakabale</h3>
<span>Software engineer</span>
</div>
<div class="icon">
<i class="flaticon-right-quotation-mark"></i>
</div>
</div>
</div>
</div>
</section>


<section class="app-area ptb-100">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="app-content">
<h3>Download our App to get all kinds of banking benefits from anywhere</h3>
</div>
</div>
<div class="col-lg-6">
<div class="app-btn">
<a href="#" class="app-store-btn">
<i class="flaticon-apple"></i>
Download on
<span>App store</span>
</a>
<a href="#" class="play-store-btn">
<i class="flaticon-google-play"></i>
Download on
<span>Google play</span>
</a>
</div>
</div>
</div>
</div>
</section>


<section class="blog-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<span>Latest news</span>
<h2>Read the latest articles from us</h2>
</div>
<div class="row">
 {% for i in all_post %}
 
<div class="col-lg-4 col-md-6">
<div class="single-blog-item">
<div class="post-image">
<img src="{{ i.img.url }}" alt="image">
</div>
<div class="post-content">
<h3>
<a href="blog-details.html"> {{ i.title }} </a>
</h3>
<ul class="post-meta">
<li>
<i class='bx bx-user'></i>
Andrew lawson
</li>
<li>
<i class='bx bx-time'></i>
September 19, 2021
</li>
</ul>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
<a href="blog-details.html" class="blog-btn">Learn more <i class="flaticon-right-arrow"></i></a>
</div>
</div>
</div>

{% endfor %}


</div>
</div>
</section>


<div class="partner-area ptb-100">
<div class="container">
<div class="partner-slider owl-carousel owl-theme">
<div class="partner-item">
<img src="{% static "main/img/partner/partner-1.png" %}" alt="image">
</div>
<div class="partner-item">
<img src="{% static "main/img/partner/partner-2.png" %}" alt="image">
</div>
<div class="partner-item">
<img src="{% static "main/img/partner/partner-3.png" %}" alt="image">
</div>
<div class="partner-item">
<img src="{% static "main/img/partner/partner-4.png" %}" alt="image">
</div>
<div class="partner-item">
<img src="{% static "main/img/partner/partner-5.png" %}" alt="image">
</div>
</div>
</div>
</div>


<section class="footer-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-3 col-sm-6">
<div class="single-footer-widget">
<div class="footer-logo">
<h2><a href="index.html">Leve</a></h2>
<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
<ul class="social">
<li>
<a href="#" class="facebook" target="_blank">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#" class="twitter" target="_blank">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#" class="pinterest" target="_blank">
<i class='bx bxl-instagram'></i>
</a>
</li>
<li>
<a href="#" class="linkedin" target="_blank">
<i class='bx bxl-linkedin'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-footer-widget">
<h3>Contact</h3>
<ul class="footer-contact-info">
<li>
<i class='bx bxs-phone'></i>
<span>Phone</span>
<a href="tel:15147939-357">+1 (514) 7939-357</a>
</li>
<li>
<i class='bx bx-envelope'></i>
<span>Email</span>
<a href="/cdn-cgi/l/email-protection#f59d9099999ab599908390db969a98"><span class="__cf_email__" data-cfemail="2149444d4d4e614d4457440f424e4c">[email&#160;protected]</span></a>
</li>
 <li>
<i class='bx bx-map'></i>
<span>Address</span>
6890 Blvd, The Bronx, NY 1058 <br> New York, USA
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-footer-widget pl-5">
<h3>Services</h3>
<ul class="quick-links">
<li>
<a href="#">Bank accounts</a>
</li>
<li>
<a href="#">Savings</a>
</li>
<li>
<a href="#">Credit cards</a>
</li>
<li>
<a href="#">Loans</a>
</li>
<li>
<a href="#">Car finance</a>
</li>
<li>
<a href="#">Mobile banking</a>
</li>
<li>
<a href="#">Online banking</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-footer-widget">
<h3>Help & guidance</h3>
<ul class="quick-links">
<li>
<a href="#">Privacy statement</a>
</li>
<li>
<a href="#">Corporate information</a>
</li>
<li>
<a href="#">Online banking help</a>
</li>
<li>
<a href="#">Managing your money</a>
</li>
<li>
<a href="#">Proving your identity</a>
</li>
<li>
<a href="#">International banking</a>
</li>
<li>
<a href="#">Help centre</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<div class="copyright-area">
<div class="container">
<div class="copyright-area-content">
<p>
Copyright © 2021 Leve. All Rights Reserved by
<a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
</p>
</div>
</div>
</div>


<div class="go-top">
<i class='bx bx-up-arrow-alt'></i>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static "main/js/jquery.min.js" %}"></script>

<script src="{% static "main/js/popper.min.js" %}"></script>

<script src="{% static "main/js/bootstrap.min.js" %}"></script>

<script src="{% static "main/js/jquery.meanmenu.js" %}"></script>

<script src="{% static "main/js/jquery.nice-select.min.js" %}"></script>

<script src="{% static "main/js/owl.carousel.min.js" %}"></script>

<script src="{% static "main/js/jquery.magnific-popup.min.js" %}"></script>

<script src="{% static "main/js/odometer.min.js" %}"></script>

<script src="{% static "main/js/jquery.appear.min.js" %}"></script>

<script src="{% static "main/js/jquery.ajaxchimp.min.js" %}"></script>

<script src="{% static "main/js/form-validator.min.js" %}"></script>

<script src="{% static "main/js/contact-form-script.js" %}"></script>

<script src="{% static "main/js/wow.min.js" %}"></script>

<script src="{% static "main/js/main.js" %}"></script>
</body>
</html>